<div class="bg-white">
  <div
    class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
  >
    @if(cartModel && cartModel.result.length > 0) {
    <h1 class="text-3xl">Shopping Cart</h1>
    <div class="text-right">
      <span class="text-sm">Price</span>
    </div>
    <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700" />
    @for (item of cartModel.result; track item; let index = $index) {
    <!-- Grid wrapper -->
    <div class="grid grid-cols-3">
      <!-- Columns -->
      <div class="bg-red-300">
        <img
          src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-01.jpg"
          alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
        />
      </div>
      <div class="ml-10">
        <h1 class="text-3xl">{{ item.product?.title }}</h1>
        <p class="mt-4 text-gray-700">
          This is a brief description of the product. It includes key features
          and benefits to entice potential buyers.
        </p>
        <div class="mt-6">
          Price:
          <span class="text-xl font-medium text-gray-900">
            {{ item.product?.price | currency : "INR" }}
          </span>
        </div>
        <div class="mt-6">
          Qunatity:
          <span class="text-xl font-medium text-gray-900">
            {{ item.quantity }}
          </span>
        </div>
        <div class="mt-32 flex">
          <button
            (click)="removeProduct(item)"
            class="flex-1 bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-500"
          >
            Remove Product
          </button>
        </div>
      </div>
      <div class="ml-10 text-right">
        <div class="text-3xl font-extrabold">
          {{ item.itemTotal | currency : "INR" }}
        </div>
      </div>
    </div>
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
    }
    <app-cart-total
      [cartItemCount]="cartModel.itemCount"
      [cartTotal]="cartModel.cartTotal"
    />
    } @else{
    <app-empty-cart />
    }
  </div>
</div>
